In [1]:
import pandas as pd

df = pd.read_csv('data/Divvy_Trips_2019_Q1.csv')
df.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2019-01-01 00:04:37,2019-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2019-01-01 00:08:13,2019-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2019-01-01 00:13:23,2019-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2019-01-01 00:13:45,2019-01-01 00:43:28,252,"1,783.0",123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2019-01-01 00:14:52,2019-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365069 entries, 0 to 365068
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   trip_id            365069 non-null  int64
 1   start_time         365069 non-null  object
 2   end_time           365069 non-null  object
 3   bikeid             365069 non-null  int64
 4   tripduration       365069 non-null  float64
 5   from_station_id    365069 non-null  int64
 6   from_station_name  365069 non-null  object
 7   to_station_id      365069 non-null  int64
 8   to_station_name    365069 non-null  object
 9   usertype           365069 non-null  object
 10  gender             345358 non-null  object
 11  birthyear          347046 non-null  float64
dtypes: float64(2), int64(4), object(6)
memory usage: 33.4+ MB

In [17]:
df.isnull().sum()

trip_id                  0
start_time               0
end_time                 0
bikeid                   0
tripduration             0
from_station_id          0
from_station_name        0
to_station_id            0
to_station_name          0
usertype                 0
gender               19711
birthyear            18023
dtype: int64

Handeling datetimes fomrats

In [10]:
df['tripduration'] = pd.to_numeric(df['tripduration'].str.replace(',',''), errors='coerce')

In [16]:
df['tripduration'].sort_values(ascending=False)

148897    10628400.0
246297     6096430.0
88324      5646180.0
128296     4859470.0
132676     3926850.0
             ...
18115           61.0
230358          61.0
45451           61.0
185604          61.0
150739          61.0
Name: tripduration, Length: 365069, dtype: float64

In [26]:
a = df.loc[148897]['tripduration']
a = pd.to_timedelta(a, unit='s')
a

Timedelta('123 days 00:20:00')

In [36]:
b = a / pd.Timedelta(days=1)
b

123.01388888888889

In [38]:
c = a / pd.Timedelta(hours=1)
c

2952.3333333333335